@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Handlee);
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

body {
  margin: 0;
  background-image: url('wood2.png') !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  height: 100vh;
}

.column {
  box-sizing: border-box;
}

.column1,
.column3 {
  flex: 1;
  width: 25%;
}

.column2 {
  flex: 2;
  width: 50%;
}

.column {
  padding: 20px;
}

/* Main canvas - adapted from: https://codepen.io/MarcMalignan/pen/QbaXGg */
.paper {
  position: relative;
  width: 90%;
  max-width: 800px;
  min-width: 400px;
  height: 800px;
  margin: 0 auto;
  background: #fafafa;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,.3);
  overflow: hidden;
}
.paper:before {
  content: '';
  position: absolute;
  top: 0; bottom: 0; left: 0;
  width: 60px;
  background: radial-gradient(#575450 6px, transparent 7px) repeat-y;
  background-size: 30px 30px;
  border-right: 3px solid #D44147;
  box-sizing: border-box;
}

.paper-content {
  position: absolute;
  top: 30px; right: 0; bottom: 30px; left: 60px;
  background: linear-gradient(transparent, transparent 28px, #91D1D3 28px);
  background-size: 30px 30px;
}

.paper-content textarea {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  line-height: 30px;
  padding: 0 10px;
  border: 0;
  outline: 0;
  background: transparent;
  color: mediumblue;
  font-family: 'Handlee', cursive;
  font-weight: bold;
  font-size: 18px;
  box-sizing: border-box;
  z-index: 1;
}

/* Sticky Notes - adapted from: https://codepen.io/Underking/pen/wMbvGx*/
#note1, #note2, #note3, #note4  { 
	display: block;
	padding:25px 25px 40px;
	margin:0 auto 20px auto;
	width:250px;
	height:250px;   
	font-family: 'Reenie Beanie', cursive;
  font-size: 24px;
	line-height:1.5;
	border:0;
	border-radius:3px;
	background: -webkit-linear-gradient(#F9EFAF, #F7E98D);
	background: -moz-linear-gradient(#F9EFAF, #F7E98D);
	background: -o-linear-gradient(#F9EFAF, #F7E98D);
	background: -ms-linear-gradient(#F9EFAF, #F7E98D);
	background: linear-gradient(#F9EFAF, #F7E98D);
	overflow:hidden;
	transition:box-shadow 0.5s ease;
	font-smoothing:subpixel-antialiased;
	max-width:520px;
	max-height:250px;
}

#note1:hover, #note2:hover, #note3:hover, #note4:hover { box-shadow:0 5px 8px rgba(0,0,0,0.15); }
#note1:focus, #note2:focus, #note3:focus, #note4:focus { box-shadow:0 5px 12px rgba(0,0,0,0.2); outline:none; }

